{% extends 'base.html.twig' %}

{% block title %}De nouveaux défis à relever{% endblock %}

{% block body %}
    <h1>De nouveaux défis à relever</h1>
    <ol>
        <li>Des contraintes liées aux interprètes/transcripteurs : le nombre d’opérateurs et le rythme de formation actuel des opérateurs ne permettent pas de répondre à l’ensemble de la demande pour la transcription textuelle et pour la Langue des Signes Française (LSF).</br>
            <p>
                Selon le directeur de DEAFI, une entreprise spécialiste de l’employabilité de travailleurs sourds ou malentendants: <blockquote>«si l’on respecte le ratio de télé-conseillers généralistes par habitants au niveau national, il faudrait créer en France 16 000 postes de vidéo-conseillers pour couvrir les besoins des personnes sourdes ou malentendantes».</blockquote>
        </p>
        <li>Des contraintes liées au coût du service relais, donnant lieu à une distinction entre :</br>
        <ul>
            <li>Les coûts de mise en œuvre (non-récurrents), soit les coûts relatifs à l’installation de la plateforme technique (achat des serveurs, des logiciels, etc.) et à la mise en place du service relais (formation des opérateurs, équipement et aménagement des cabines)</li>
            <li>Les coûts de fonctionnement (récurrents), comprenant le fonctionnement de la plateforme (abonnements Internet, exploitation de la plateforme, maintenance, R&D), le fonctionnement du service relais (salaires des opérateurs) et les frais administratifs et immobiliers.</li>
        </ul>
        <li>Des contraintes liées à la mise en place :</li>
        <ul>
            <li>Une logistique (l'installation) est à prévoir en amont,</li>
            <li>Des questions juridiques,</li>
            <li>Une sensibilisation des équipes, etc.</li>
        </ul>
        <li>Des contraintes liées à l'utilisateur :</li>
        <ul>
            <li>Utilisation parfois trop complexe,</li>
            <li>Peur de l'inconnu,</li>
            <li>Réfractaire au changement,</li>
            <li>Pas spécialement le besoin</li>
            <p>
                Déclaration d'Olivier Jeannel de la Start-up RogerVoice <blockquote>«Je n'ai pas créé cette application parce que moi, je veux téléphoner, mais parce que, vous, vous utilisez le téléphone.»</blockquote>
            </p>
            <p>
                <a class="bouton" href="{{ path('home_solutions') }}">Précédent</a>&nbsp;&nbsp;&nbsp;
                <a class="bouton" href="{{ path('home_preconisations') }}">Suivant</a>
            </p>
{% endblock %}